name: Weekly Tests
on:
  schedule:
    - cron: '0 2 * * 1'  # 02:00 по понедельникам
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
      - name: Run Maven tests
        run: mvn test -Dtest=LoginTests
